nav{
    display: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    padding: 5px 0 5px 0;
}
header{
    width: 100%;
    position: relative;
}
header i{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 30px;
}
h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: 5px;
    padding-right: 45px;
}
.title{
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-width: 3px;
}
header .title{
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}