header{
  position: relative;
}
header i{
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 30px;
}
body {
  background-color: rgb(230, 230, 230);
}

.container {
  width: 90%;
  margin: 0 auto;
}

main {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

video,
img {
  height: auto;
  width: 100%;
  padding: 5px 0 5px 0;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

figcaption {
  font-size: 0.7rem;
  font-style: italic;
}

.justify {
  text-align: justify;
}

hr {
  height: 2px;
  background-color: black;
}

@media (min-width: 480px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .news {
    width: 45%;
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    align-self: stretch;
    border-bottom-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
  }
  .news:nth-child(2n){
    flex: 0 1 auto;
    align-self: stretch;
    order: 0;
  }
  h3{
    margin: 10px 0 10px 0;
  }
  main hr{
    display: none;
  }
  .firstline{
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px;
  }
  nav p{

  }
  .news {
    width: 30%;
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    align-self: stretch;
    border-bottom-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
  }
  .news:nth-child(2n){
    flex: 0 1 auto;
    align-self: stretch;
    order: 0;
  }
  .navhr{
    margin: 3px;
  }
  .final{
    margin-top: 10px;
  }
}